<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <span class="button-inner">
          <ion-icon name="menu" role="img" aria-label="menu"></ion-icon>
      </span>
    </button>
    <div class="toolbar-content">
      <ion-title class="title">
        <div class="toolbar-title">
          MENU
        </div>
      </ion-title>
    </div>

    <ion-buttons end>
      <button ion-button icon-only (click)="goToLoginPage()">
          <div class="toolbar-content">
              <ion-title class="title">
                <div class="toolbar-title">
                  SALIR
                </div>
              </ion-title>
            </div>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-menu [content]="mycontent">
    <ion-content>
      <ion-list style="margin-right:-80px;margin-top:-10px;">
         <ion-item style="margin-left:-50px;">
          <button class="item item-block" (click)="iraPerfil()" ion-item style="margin-left:20px;margin-top:-10px;border-bottom:1px solid black;">
            <ion-icon name="person"></ion-icon>
            MI PERFIL
          </button>
        </ion-item>

        <ion-item style="margin-left:-50px;">
          <button class="item item-block" (click)="irAlumnos()" ion-item style="margin-left:20px;margin-top:-10px;border-bottom:1px solid black;">
            <ion-icon name="person"></ion-icon>
            ALUMNOS
          </button>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-nav #mycontent [root]="homePage"></ion-nav>



  <div [ngSwitch]="type2">
    <div *ngSwitchCase = "'inicio'">
      <ion-segment [(ngModel)]="type">
        <ion-segment-button value="pendiente" (click)="examenPendiente()">
          <!--<ion-segment-button  value="pendiente" (click)="getMensajes()"> -->
          Examen Pendiente
        </ion-segment-button>
        <br/>
        <ion-segment-button value="pasado">
          Examenes pasados
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>

  <div [ngSwitch]="type">

    <div *ngSwitchCase = "'pendiente'">
        <ion-list>
          <ion-item-sliding *ngFor="let ex of examen">
            <button ion-item (click)="ViewIExamen(ex)">
              <h1>{{ex?.id}}</h1>
              <p>{{ex?.name}}</p>
              <ion-icon name="paper-outline" item-right></ion-icon>
            </button>
          </ion-item-sliding>
        </ion-list>
    </div>

    <div *ngSwitchCase = "'examenPendiente'">
        <ion-card-content class="card-content" center text-center>
          <p>Nombre del Examen: {{nombreExamen}}</p>
          <p>Cantidad de Preguntas: {{number_questions}}</p>
          <p> Peso de Preguntas correctas: {{correct_points}}</p>
          <p> Peso de Preguntas incorrectas: {{error_points}}</p>
          <p>Intentos Permitidos: {{attempts_allowed}}</p>
          <p>Inicio del examen: {{getFecha(start_datetime)}}</p>
          <p>Fin del examen: {{getFecha(end_datetime)}}</p>
          <p>Duracion: {{getTime(duration_time)}}</p>
      
          <!--<button ion-button (click)="DarExamen()" color="danger">Seguir con el examen</button>-->
          <ion-grid>
            <ion-row>
                <ion-col col-6>
                  <button ion-button block icon-start (click)="back()" color="Light">
                    <ion-icon name="arrow-back"></ion-icon>
                    Atras
                  </button>
                </ion-col>
              <ion-col col-6>
                <button id="darExamen" ion-button block icon-end (click)="DarExamen(id);" color="secondary" disabled>
                  Iniciar Examen
                  <ion-icon name="star" style="margin-left:5px;"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
    </div>

    <div *ngSwitchCase = "'cabeceraExamen'">
      <ion-segment-button  text-left disabled style="background:#D6FFFF;color:black">
        <p>Nombre del Examen: {{nombreExamen}}</p>
        <p>Cantidad de Preguntas: {{number_questions}}</p>
        <timer [timeInSeconds]="duracionExamen"></timer>
      </ion-segment-button>
      <div *ngFor="let pregunta of preguntas">
        <ion-card class="card" id="pregunta_{{pregunta['id_question']}}" style="display:none">
          <img [src]="pregunta['picture']">
          <ion-card-content class="card-content">
            <ion-card-title>{{pregunta["id_question"]}}</ion-card-title>
            <p>{{pregunta["question"]}}</p>
          </ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>a) {{pregunta["option1"]}}</ion-label>
              <ion-checkbox (ionChange)=guardarOption(1,$event)></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>b) {{pregunta["option2"]}}</ion-label>
              <ion-checkbox (ionChange)=guardarOption(2,$event)></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>c) {{pregunta["option3"]}}</ion-label>
              <ion-checkbox (ionChange)=guardarOption(4,$event)></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>d) {{pregunta["option4"]}}</ion-label>
              <ion-checkbox (ionChange)=guardarOption(8,$event)></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>e) {{pregunta["option5"]}}</ion-label>
              <ion-checkbox (ionChange)=guardarOption(16,$event)></ion-checkbox>
            </ion-item>
          </ion-list>
          <br>
          <ion-segment>
            <ion-segment-button (click)="goBack(pregunta['id_question'])" color="Light">
                <span class="button-inner">
                    <ion-icon name="ios-arrow-back"></ion-icon>
                    Atras
                </span>
            </ion-segment-button>

            <ion-segment-button (click)="goForward(pregunta['id_question']);" color="Light">
                <span class="button-inner">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                    Siguiente
                </span>
            </ion-segment-button>

            <ion-segment-button (click)="showRadio(pregunta['id_question'])" color="Light">
                <span class="button-inner">
                    <ion-icon name="ios-arrow-up"></ion-icon>
                    
                </span>
            </ion-segment-button>
          </ion-segment>
          <button ion-button full color="danger" (click)="showConfirm(pregunta['id_question'])" class="botonTerminar" style="display:none">Terminar</button>
        </ion-card>
      </div>
    </div>




    <div *ngSwitchCase = "'listAlumnos'">



    <ion-list class="">

    <ion-list-header class="item item-ios list-header list-header-ios">
     <div class="item-inner">
      <div class="input-wrapper">
         Alumnos     
      </div>
     </div>
    </ion-list-header>

    <ion-item class="item item-block item-ios">
      <ion-avatar item-start="">
        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-finn.png">
      </ion-avatar><!--<div class="item-inner"><div class="input-wrapper"><ion-label class="label label-ios">-->
    <h2>My Neighbor Totoro</h2>
    <p>Hayao Miyazaki • 1988</p>
    <button ion-button clear item-end>View</button>
    <!--</ion-label>
    </div>
    </div>-->
    </ion-item>

    <ion-item class="item item-block item-ios"><ion-avatar item-start="">
        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-han.png">
      </ion-avatar>
      <h2>Han</h2>
      <p>I've got enough on my plate as it is, and I...</p>
     <button ion-button clear item-end>View</button>
    </ion-item>

    
   
    <ion-item class="item item-block item-ios"><ion-avatar item-start="">
        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-rey.png">
      </ion-avatar>
      <h2>Han</h2>
      <p>I've got enough on my plate as it is, and I...</p>
     <button ion-button clear item-end>View</button>
    </ion-item>

    <ion-item class="item item-block item-ios"><ion-avatar item-start="">
        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-luke.png">
      </ion-avatar>
      <h2>Han</h2>
      <p>I've got enough on my plate as it is, and I...</p>
     <button ion-button clear item-end>View</button>
    </ion-item>
    


    </ion-list>

    </div>

    <div *ngSwitchCase = "'miperfil'">
      <ion-card>
        <img src="https://s3-us-west-2.amazonaws.com/cosmicjs/e391cab0-6322-11e7-8774-41dfff8ae5dc-bYMCvtHD.jpg" width="40%" height="50%"/>
        <ion-card-content>
          <ion-card-title>MI PERFIL</ion-card-title>
        </ion-card-content>
        <form #FormLogin="ngForm" (ngSubmit)="actualizarPerfil()">
          <table style="width:90%">
            <tr>
              <td style="width:20%">
                <ion-icon style="color: #20A5FF;font-size:40px;padding-left:25px;padding-top:25px;" name="contact" aria-label="Nombres"></ion-icon>
              </td>
              <td style="width:80%">
                  <ion-item>
                      <ion-label floating>Nombres</ion-label>
                      <ion-input [(ngModel)]="miperfil.pnombres" name="pnombres" type="text" required></ion-input>
                    </ion-item>
              </td>
            </tr>
            <tr>
              <td style="width:20%">
                <ion-icon style="color: #20A5FF;font-size:40px;padding-left:25px;padding-top:25px;" name="people" aria-label="Last Name"></ion-icon>
              </td>
              <td style="width:80%">
                  <ion-item>
                      <ion-label floating>Apellidos</ion-label>
                      <ion-input [(ngModel)]="miperfil.papellidos" name="papellidos" type="text" required></ion-input>
                    </ion-item>
              </td>
            </tr>
            <tr>
              <td style="width:20%">
                <ion-icon style="color: #20A5FF;font-size:40px;padding-left:25px;padding-top:25px;" name="at" aria-label="Last Name"></ion-icon>
              </td>
              <td style="width:80%">
                  <ion-item>
                      <ion-label floating>E-mail</ion-label>
                      <ion-input [(ngModel)]="miperfil.pemail" name="pemail" type="email" required></ion-input>
                    </ion-item>
              </td>
            </tr>
            <tr>
              <td style="width:20%">
                <ion-icon style="color: #20A5FF;font-size:40px;padding-left:25px;padding-top:25px;" name="call" aria-label="Last Name"></ion-icon>
              </td>
              <td style="width:80%">
                  <ion-item>
                      <ion-label floating>Numero de telefono</ion-label>
                      <ion-input [(ngModel)]="miperfil.pnumTel" name="pnumTel" type="tel" required></ion-input>
                    </ion-item>
              </td>
            </tr>
            <tr>
              <td style="width:20%">
                <ion-icon style="color: #20A5FF;font-size:40px;padding-left:25px;padding-top:25px;" name="logo-whatsapp" aria-label="Last Name"></ion-icon>
              </td>
              <td style="width:80%">
                  <ion-item>
                    <ion-label floating>Numero de telefono celular</ion-label>
                    <ion-input [(ngModel)]="miperfil.pnumcell" name="pnumcell" type="tel" required></ion-input>
                  </ion-item>
              </td>
            </tr>
            <tr>
              <td style="width:20%">
                <ion-icon style="color: #20A5FF;font-size:40px;padding-left:25px;padding-top:25px;" name="paper" aria-label="Last Name"></ion-icon>
              </td>
              <td style="width:80%">
                  <ion-item>
                    <ion-label floating>tipo de documento</ion-label>
                    <ion-select [(ngModel)]="miperfil.ptipoDocumento" name="ptipoDocumento">
                      <ion-option [value]="1">DNI</ion-option>
                      <ion-option [value]="2">Pasaporte</ion-option>
                    </ion-select>
                  </ion-item>
              </td>
            </tr>
            <tr>
              <td style="width:20%">
                <ion-icon style="color: #20A5FF;font-size:40px;padding-left:25px;padding-top:25px;" name="finger-print" aria-label="Last Name"></ion-icon>
              </td>
              <td style="width:80%">
                  <ion-item>
                    <ion-label floating>Numero de documento</ion-label>
                    <ion-input [(ngModel)]="miperfil.pnumDoc" name="pnumDoc" type="text" maxlength="15" required></ion-input>
                  </ion-item>
              </td>
            </tr>
            <tr>
              <td style="width:20%">
                <ion-icon style="color: #20A5FF;font-size:40px;padding-left:25px;padding-top:25px;" name="ice-cream" aria-label="Last Name"></ion-icon>
              </td>
              <td style="width:80%">
                  <ion-item>
                    <ion-label floating>Cumpleaños</ion-label>
                    <ion-input [(ngModel)]="miperfil.pcumpleanios" name="pcumpleanios" type="text" required></ion-input>
                  </ion-item>
              </td>
            </tr>
            <tr>
              <td style="width:20%">
                <ion-icon style="color: #20A5FF;font-size:40px;padding-left:25px;padding-top:25px;" name="pin" aria-label="Last Name"></ion-icon>
              </td>
              <td style="width:80%">
                  <ion-item>
                    <ion-label floating>localizacion</ion-label>
                    <ion-select [(ngModel)]="miperfil.plocaciones" name="plocaciones" required>
                        <ion-option *ngFor="let lo of misLocaciones" [value]="lo.value">{{lo.name}}</ion-option>
                      </ion-select>
                  </ion-item>
              </td>
            </tr>
            <tr>
              <td style="width:20%">
                <ion-icon style="color: #20A5FF;font-size:40px;padding-left:25px;padding-top:25px;" name="locate" aria-label="Last Name"></ion-icon>
              </td>
              <td style="width:80%">
                  <ion-item>
                    <ion-label floating>Direccion</ion-label>
                    <ion-input [(ngModel)]="miperfil.pdireccion" name="username" type="text" maxlength="256" required></ion-input>
                  </ion-item>
              </td>
            </tr>
            <tr>
              <td style="width:20%">
                <ion-icon style="color: #20A5FF;font-size:40px;padding-left:25px;padding-top:25px;" name="contacts" aria-label="Last Name"></ion-icon>
              </td>
              <td style="width:80%">
                  <ion-item>
                    <ion-label floating>Genero</ion-label>
                    <ion-select [(ngModel)]="miperfil.pgenero" name="pgenero" required>
                      <ion-option [value]="M">Masculino</ion-option>
                      <ion-option [value]="F">Femenino</ion-option>
                    </ion-select>
                  </ion-item>
              </td>
            </tr>
            <tr>
              <td style="width:20%">
                <ion-icon style="color: #20A5FF;font-size:40px;padding-left:25px;padding-top:25px;" name="school" aria-label="Last Name"></ion-icon>
              </td>
              <td style="width:80%">
                  <ion-item>
                    <ion-label floating>Institucion</ion-label>
                    <ion-select [(ngModel)]="miperfil.pInstitucion"  name="pInstitucion" required>
                      <ion-option *ngFor="let mi of misInstituciones" [value]="mi.value">{{mi.name}}</ion-option>
                    </ion-select>
                  </ion-item>
              </td>
            </tr>
            <br>
            <tr>
              <td colspan="2" style="padding-left:15px;">
                  <button ion-button full color="secondary" [disabled]="!FormLogin.form.valid" type="submit">ACTUALIZAR PERFIL</button>
              </td>
            </tr>
             <td colspan="2" style="padding-left:15px;">
                  <button ion-button block icon-start (click)="back()" color="Light">
                    <ion-icon name="arrow-back"></ion-icon>
                    Atras
                  </button>
            </td>

          </table>
        </form>
      </ion-card>
    </div>

    <div *ngSwitchCase = "'resultado'">
        <ion-card-content class="card-content" center text-center>
            <p>RESULTADO DE EXAMEN DE EVALUACION</p>
            <p>Cantidad de preguntas: {{number_questions}}</p>
            <p>Cantidad de preguntas respondidas: {{numRspndidas}}</p>
            <p> Cantidad de preguntas en blanco: {{numBlancos}}</p>
            <p>Tiempo transcurrido {{DuracionAlumnoExamen()}}</p>
            <p>Puntaje final: {{puntajeFinal}}</p>
            <button ion-button block icon-start (click)="back2()" color="Light">
                    <ion-icon name="arrow-back"></ion-icon>
                    Inicio
          </button>
         <button ion-button block icon-start (click)="verSolucionario()" color="secondary">
            <ion-icon name="arrow-forward"></ion-icon>
                    Ver Solucionario
         </button>
        </ion-card-content>
    </div>
    <div *ngSwitchCase = "'verSolucionario'">
      <ion-card>
        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/nin-live.png"/>
        <ion-card-content>
          <ion-card-title>
            Pregunta 1
          </ion-card-title>
          <p>
            a) respuesta 1
          </p>
        </ion-card-content>
        <ion-row class="row" no-padding>
          <ion-col class="col" text-right>
            <button clear color="danger" icon-start ion-button small class="disable-hover" onclick="window.open('https://www.youtube.com/watch?v=mGal9pSE9Cs','_blank');">
              <span class="button-inner">
                <ion-icon name="share-alt" role="img" aria-label="share alt"></ion-icon>
                Video
              </span>
              <div class="button-effect"></div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card> 

      <ion-card>
        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/nin-live.png"/>
        <ion-card-content>
          <ion-card-title>
            Pregunta 1
          </ion-card-title>
          <p>
            a) respuesta 1
          </p>
        </ion-card-content>
        <ion-row class="row" no-padding>
          <ion-col class="col" text-right>
            <button clear color="danger" icon-start ion-button small class="disable-hover" onclick="window.open('https://www.youtube.com/watch?v=mGal9pSE9Cs','_blank');">
              <span class="button-inner">
                <ion-icon name="share-alt" role="img" aria-label="share alt"></ion-icon>
                Video
              </span>
              <div class="button-effect"></div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card> 

      <ion-card>
      
        <ion-card-content>
          <ion-card-title>
            Pregunta 2
          </ion-card-title>
          <p>
            b) respuesta 2
          </p>
        </ion-card-content>
        <ion-row class="row" no-padding>
          <ion-col class="col" text-right>
            <button clear color="danger" icon-start ion-button small class="disable-hover" onclick="window.open('https://www.youtube.com/watch?v=mGal9pSE9Cs','_blank');">
              <span class="button-inner">
                <ion-icon name="share-alt" role="img" aria-label="share alt"></ion-icon>
                Video
              </span>
              <div class="button-effect"></div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card> 

      <ion-card>
        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/nin-live.png"/>
        <ion-card-content>
          <ion-card-title>
            Pregunta 3
          </ion-card-title>
          <p>
            a) respuesta 1
          </p>
        </ion-card-content>
        <ion-row class="row" no-padding>
          <ion-col class="col" text-right>
            <button clear color="danger" icon-start ion-button small class="disable-hover" onclick="window.open('https://www.youtube.com/watch?v=mGal9pSE9Cs','_blank');">
              <span class="button-inner">
                <ion-icon name="share-alt" role="img" aria-label="share alt"></ion-icon>
                Video
              </span>
              <div class="button-effect"></div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card> 

      <ion-card>
        <ion-card-content>
          <ion-card-title>
            Pregunta 4
          </ion-card-title>
          <p>
            a) respuesta 1
          </p>
        </ion-card-content>
        <ion-row class="row" no-padding>
          <ion-col class="col" text-right>
            <button clear color="danger" icon-start ion-button small class="disable-hover" onclick="window.open('https://www.youtube.com/watch?v=mGal9pSE9Cs','_blank');">
              <span class="button-inner">
                <ion-icon name="share-alt" role="img" aria-label="share alt"></ion-icon>
                Video
              </span>
              <div class="button-effect"></div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card> 

      
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            Pregunta 5
          </ion-card-title>
          <p>
            a) respuesta 1
          </p>
        </ion-card-content>
        <ion-row class="row" no-padding>
          <ion-col class="col" text-right>
            <button clear color="danger" icon-start ion-button small class="disable-hover" onclick="window.open('https://www.youtube.com/watch?v=mGal9pSE9Cs','_blank');">
              <span class="button-inner">
                <ion-icon name="share-alt" role="img" aria-label="share alt"></ion-icon>
                Video
              </span>
              <div class="button-effect"></div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card> 

    </div>
  </div>
</ion-content>
