<ion-header>
    
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <span class="button-inner">
          <ion-icon name="menu" role="img" aria-label="menu"></ion-icon>
      </span>
    </button>
    <div class="toolbar-content">
      <ion-title class="title">
        <div class="toolbar-title">
          MENU
        </div>
      </ion-title>
    </div>

    <ion-buttons end>
      <button ion-button icon-only (click)="goToLoginPage()">
          <div class="toolbar-content">
              <ion-title class="title">
                <div class="toolbar-title">
                  SALIR
                </div>
              </ion-title>
            </div>
      </button>
    </ion-buttons>
  </ion-navbar>


  <!--<ion-navbar color="facebook">

    <button ion-button  icon-letf menuToggle="left" start>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Home Blank</ion-title>


    <button ion-buttons  menuToggle="right"  (click)="goToLoginPage()" end>
      <ion-icon name="close"></ion-icon>
      Salir
    </button>

  </ion-navbar>-->

</ion-header>

<!--<ion-header>
<ion-navbar color="facebook">
  <button ion-button menuToggle>
    <ion-icon name= "menu"></ion-icon>
  </button>
  <ion-title>Examen Blank</ion-title>
</ion-navbar>
</ion-header>-->


<!--<ion-toolbar>-->
<!--<ion-buttons start>
  <button ion-button icon-only>
    <ion-icon name="create"></ion-icon>
  </button>
</ion-buttons>-->
<!--<ion-segment [(ngModel)="type"] >
  <ion-segment-button  value="pendiente" (click)=" EnDataLocal()">
    Examen Pendiente
  </ion-segment-button>
  <ion-segment-button value="pasado">
    Examenes pasados
  </ion-segment-button>
 </ion-segment>-->
<!--<ion-buttons end>
  <button ion-button icon-only>
    <ion-icon name="more"></ion-icon>
  </button>
</ion-buttons>-->
<!--</ion-toolbar>-->

<ion-content padding>

  <ion-menu [content]="mycontent">
      <ion-content>
        <ion-list>
          <p>some menu content, could be list items</p>
        </ion-list>
      </ion-content>
  </ion-menu>
  <ion-nav #mycontent [root]="homePage"></ion-nav>

  <div>
    <ion-segment [(ngModel)]="type">
      <ion-segment-button value="pendiente" (click)="examenPendiente()">
        <!--<ion-segment-button  value="pendiente" (click)="getMensajes()"> -->
        Examen Pendiente
      </ion-segment-button>
      <br/>
      <ion-segment-button value="pasado" (click)=" EnDataLocal()">
        Examenes pasados
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="type">
    <div *ngSwitchCase = "'pendiente'">
      <ion-list *ngSwitchCase="'pendiente'">
        <ion-item-sliding *ngFor="let ex of examen">
          <button ion-item (click)="ViewIExamen()">
            <h1>{{ex?.id}}</h1>
            <p>{{ex?.name}}</p>
            <ion-icon name="paper-outline" item-right></ion-icon>
          </button>
        </ion-item-sliding>
      </ion-list>
    </div>

        <!--<ion-item-options side="left" >
          <button ion-button color="primary" (click)="View(member)">
            <ion-icon name="eye"></ion-icon>
            View
          </button>
          <button ion-button color="secondary" (click)="update(member)">
            <ion-icon name="open"></ion-icon>
            Edit
          </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="Delete(member.mem_mid)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'pasado'">
      <ion-item-sliding *ngFor="let user of users">
        <ion-item>
          <h1>{{user.email}}</h1>
          <p>{{user.codigoUni}}</p>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
-->
  </div>


</ion-content>
<!--
<style>
  ion-scroll {
    width: 100%;
    height: 100%;
  }
</style>-->
